* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    padding-top: 80px;
  }
  
  header {
    padding: 20px 4% 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    z-index: 1;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  a {	
    text-decoration: none;
    color: #000000;
  }
  
  nav {
    margin: 0 0 0 auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    font-family: "ヒラギノ角ゴ Pro W3";
  }
  
  li {
    margin: 0 0 0 50px;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3";
  }
  
  html {
    background-color: #ffffff;
  }

  .container {
	position: relative;
	width: 800px;
	max-width: 100%;
	height: 600px;
}

@media (max-width: 768px) {
    .header {
      display: none;
    }
  }

.main {
    font-family: "HG行書体";
    margin: 500px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 0px;
  }


.aaaaa {
    background-color: #fff;
    padding: 20px 30px 20px;
    max-width: 570px;
    margin: 20px auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.18);
    border-radius: 30px;
    position: relative;
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.profile-image {
    width: 200px; 
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-description {
    max-width: 400px;
    font-family: "ヒラギノ角ゴ Pro W3";
    font-size: 16px;
}

@media (max-width: 768px) {
    .aaaaa {
        max-width: 90%; 
        padding: 20px;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-image {
        width: 150px; 
    }

    .profile-description {
        max-width: 100%;
        font-size: 14px;
    }
}

.slideshow {
    background-color: #fff;
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.slide {
    display: none;
    text-align: center;
}

.slideshow-image {
    width: 100%;
    height: auto;
}

.slideshow-text {
    font-size: 24px;
    font-weight: bold;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.site-footer {
    background: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .copyright {
    font-family: Terminal;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
  }
  
  .last {
    color: rgb(0, 0, 0);
    font-size: 12px;
  }  
